@import '../../../../styles/reset.scss';

.list {
  border-collapse: collapse;
  width: 100vw;
}

.list-item {
  box-sizing:border-box;
  align-items: baseline;
  border-bottom-style: solid;
  border-width: 1px;
  padding: 0.5em;
  height: 2em;

  &__button {
    width: 1px;
  }

  &__name {

  }

  &__city {
    text-align: end;
  }

  &__province {
    text-align: end;
    width: 1em;
    padding-right: 0.5em;
  }
}