/* In order to place the tracking correctly */
canvas.drawing,
canvas.drawingBuffer {
  position: absolute;
  left: 0;
  top: 0;
}

// canvas.drawing,
// canvas.drawingBuffer {
//   position: fixed;
//   // left: 0;
//   margin-top: 5em;
// }