@import '../../styles/variables.scss';

.recipe-wrapper {
  transition: all 0.5s;
  margin-top: $spacing;
  margin-bottom: $spacing;
  display: flex;
  flex-direction: column;
  align-items: center;
  
  gap: $card-gap;
  background-color: $main-background;

  .recipe-card {
    background-color: $location-card;
    color: white;
    border-radius: $button-radius;
    width: 90vw;
    font-size: small;
        
    &__details {
      padding: 0.5em 1em;
    }

    &__title{
      text-align: center;
    }

    &__img {
      box-sizing:content-box;
      object-fit: fill;
      width: 100%;

      border-radius: $button-radius $button-radius 0 0;
      
    }

    &__missing-ingredients {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: calc($spacing / 2);
    }

    table {
      width: 100%;
      
      td.name {
        flex-wrap: wrap;
      }
      td.amount {
        padding-right: 2px;
      }
    }

    &__feedback {
      padding: 0 1em 1em 1.5em;
      display: flex;
      align-items: center;
      gap: $card-gap;
      font-style: italic;
    }

    .button {
      color: $button-background;
      background-color: white;

      &.red {
        color: red;
      }
    }

    article {
      padding-top: calc($spacing / 2);
    }

  }
}
