@import '../../styles/variables.scss';

.recipe-wrapper {
  transition: all 0.5s;
  margin-top: $spacing;
  margin-bottom: $spacing;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: $card-gap;
  background-color: $main-background;

  .recipe-card {
    background-color: $location-card;
    color: white;
    border-radius: $button-radius;
    width: 90vw;
    font-size: small;
        
    &__details {
      padding: 0.5em 1em;
    }

    &__title{
      text-align: center;
    }

    &__img {
      box-sizing:content-box;
      object-fit: fill;
      width: 100%;
      border-radius: $button-radius $button-radius 0 0;
    }

    &__missing-ingredients {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: calc($spacing / 2);
    }

    &__used-ingredients {
      padding-top: 1em;
    }

    
    &__feedback {
      padding: 0 1em 1em 1.5em;
      display: flex;
      align-items: center;
      gap: 2em;
      font-style: italic;
    }

    table {
      width: 100%;
      padding-top: 0.25em;
      
      td.name {
        flex-wrap: wrap;
      }
      td.amount {
        padding-right: 2px;
      }
    }
    
    article {
      padding-top: calc($spacing / 4);
    }

    h3 {
      text-align: center;
    }

    .button {
      color: $button-background;
      background-color: white;

      &.red {
        color: red;
      }
    }
  }
}

.ingredient-card-wrapper {
  display: grid;
  grid-auto-flow: column;
  grid-auto-rows:(1em, auto);
  gap: 1em;
  padding-top: 0.5em;
}

.used-ingredient__card {
  display: flex;
  align-items: stretch;
  text-align: center;
  padding: 0.5em;
  border-radius:10px;
}