@import '../../styles/variables.scss';

.recipe-wrapper {
  padding: 20px;
  transition: all 0.5s;
  margin-bottom: 2em;
  display: flex;
  flex-wrap: wrap;
  overflow-x: auto;
  gap: 15px;
  background-color: $main-background;

  .recipe-card {
    background-color: $location-card;
    color: white;
    border-radius: $button-radius;
    position: relative;
    transition: all 0.3s;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    height: 75vh;
    width: 90vw;

    &__details {
      display:flex;
      flex-direction: column;
      justify-content: flex-start;
      overflow: hidden;
      background-color: $main-background;
      border-radius: calc($button-radius / 2) calc($button-radius / 2) 0 0;

    }

    &__title{
      padding-top: calc($spacing / 4);
    }

    &__img {
      box-sizing:content-box;
      object-fit: fill;
      
    }

    &__missing-ingredients {
      text-align: center;
      padding: calc($spacing / 2);
    }

    div {
      font-size: small;
    }
  }
}
