<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Thanks for checking out <%= @url %>, <%= @user[:first_name] %></h1>
    <p>Seems like you need a few things to make your recipe</p>
  
    <p>Thanks for joining and have a great day!</p>
  </body>
</html>
