@import "../../styles/variables.scss";

.locations-wrapper {
  padding: 1em;
  background-color: $main-background;
  box-sizing: border-box;

  position: fixed;
  top: 4rem;
  width: 100vw;
  z-index: 10;

  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
  gap: $card-gap;

  // .single-location {
  //   display: flex;
  //   flex-direction: row;
  //   background-color: #884a4b;
  //   align-items: center;
  //   justify-content: space-between;
  //   color: white;

  //   padding: 10px 15px;
  //   border-radius: 20px;
  //   width: 100%;

  //   div {
  //     font-size: small;
  //   }
  // }
}
