@import "styles/variables.scss";
@import "styles/mixins.scss";
@import "styles/animations.scss";

.location {
  &__add {
    min-height: $list-height;
    padding: 2rem 0;
    display: flex;
    justify-content: center;
    align-items: center;

    &-button {
      @include button-inactive--opacity;

      &:hover {
        @include button-active--opacity;
      }
    }
  }