
.fab-container {
  position: fixed;
  display: flex;
  flex-direction: column;

  bottom: 2em;
  right: 2em;

  gap: 2em;
  z-index: 10;

  .button {
    color: white;
    background-color: navy;
    transform: scale(1.5);
  }

}
