.calendar-item {
  font-size: 10px;
  padding: 4px;
  border-radius: 4px;
  // box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  color: white;
  width: 100%;

  * {
    padding: 1px;
  }

  .calendar-item--name {
    font-weight: bolder;
  }

  .calendar-item--location {
    color: rgba(255, 255, 255, 0.795);
    font-style: italic;
  }

  &.fresh {
    background-color: rgb(66, 173, 66);
  }
  &.debatable {
    background-color: rgb(194, 181, 61);
  }
  &.expired {
    background-color: rgb(167, 89, 75);
  }
}

