.sideways-scrolling-wrapper {

  padding: 20px;
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
  background-color: lightblue;
  gap: 15px;

}

@media only screen and (max-width:600px) {

}

@media only screen and (min-width: 768px) {

}
  