@import '../../../../styles/reset.scss';
@import '../../../../styles/variables.scss';

.list-item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
  border-bottom-style: solid;
  border-width: 1px;
  padding:0.5em;

  &__description {
    display: flex;
    flex-direction: row;
    align-items: baseline;
  }
}

.expired {
  background-color: $danger-color;
}