@import '../../../../styles/variables.scss';

.food-container {
  background-color: $main-background;
}

.food-list {
  // box-sizing: content-box;
  display: flex;
  flex-direction: column;
  border: none;

}