@import '../../../../styles/reset.scss';
@import '../../../../styles/variables.scss';

.list {
  border-collapse: collapse;
  width: 100vw;
  padding: 0.5em;
}

.list-item {
  box-sizing:border-box;
  align-items: baseline;
  border-bottom-style: solid;
  border-width: 1px;
  padding: 0.5em;
  height: 2em;


  &__button {
    min-width: 1em;
  }

  &__name {
    padding-left: 0.5em;
  }

  &__quantity {
    width: 5%;
  }

  &__units {
    width: 10%;
  }

  &__expiry {
    text-align: end;
    width: 35%;
    padding-right: 1.0em;
  }
}

.expired {
  background-color: $danger-color;
}