<section class="food-index">

  <header class="page-header">
    <h1>All Foods</h1>
  </header>

  <div class="panel panel-default products">

    <table class="table table-bordered">
      <thead>
        <tr>
          <th colspan="2">Item</th>
          <th>Quantity</th>
          <th>Units</th>
          <th>Price</th>
          <th>Purchased</th>
          <th>Expires</th>
        </tr>
      </thead>
      <tbody>
        <%= render @food_items %>
      </tbody>
    </table>

  </div>

</section>
