.calendar {
  font-size: 12px;
  display: flex;
  flex-direction: column;
  padding: 1em;

  .header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    .group {
      display: flex;
      flex-direction: row;
      align-items: center;
    }

    .month-year {
      font-weight: bold;
    }
  }

  .weekend {
    color: slategray;
  }

  table {
    margin-top: 5px;
    table-layout: fixed;
    border-collapse: collapse;
    width: 100%;
  }

  // th {
  //   font-size: smaller;
  //   color: silver;
  // }

}
