$font-family: "Source Sans Pro", sans-serif;

$active-opacity: 1;
$inactive-opacity: 0.15;

$white: #fff;
$black: #000;

$danger-color: #ee5253;
$error-color: #ff9f43;
$confirm-color: #10ac84;

$spacing: 2rem;

$header-background: #012035;
$main-background: #ffff;
$location-card: #9B665E;
$food-item: #F4EADC;
$add-background: whitesmoke;
$button-background: #2C5672;

$header-height: 4em;

$button-radius: 50px;
$card-gap: 15px;